.app-container {
  height: 100vh;
}

.navigation {
  margin-bottom: 5%;
}

.options-container {
  height: 100vh;
  background-color:#edf0f5
}

.demo-container {
  height: 100vh;
}

.color-option {
  cursor: pointer;
}
.black {
  background-color: #00031E;
}

.white {
  background-color: #FFFFFF;
}

.metallic {
  background-color: #828387;
}

.ruby {
  background-color: #740000;
}

.camry-black {
  background: url('assets/camry-black.jpg');
}

.camry-white {
  background: url('assets/camry-white.jpg');
}

.camry-metallic {
  background: url('assets/camry-metallic.jpg');
}

.camry-ruby {
background: url('assets/camry-ruby.jpg');
}

.avalon {
  background: url('assets/avalon.png');
}

.camry {
  background: url('assets/camry.png');
}

.corolla {
  background: url('assets/corolla.png');
}

.sienna {
  background: url('assets/sienna.png');
}

.yaris {
  background: url('assets/yaris.png');
}

.vehicle-option {
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.vehicle-display {
  height: 40%;
  top: 50%;
  transform: translateY(-50%);
  background-size: cover;
  background-position: center;
}